In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./바탕화면/unsw//UNSW-NB15_1.csv', sep = "," , low_memory=False)

In [3]:
#df 칼럼 추가
df.columns = ['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','Sload','Dload'
               ,'Spkts','Dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth','res_bdy_len','Sjit','Djit','Stime','Ltime',
               'Sintpkt','Dintpkt','tcprtt','synack','ackdat','is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd'
               ,'ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','Label'
              ]

In [4]:
#데이터 프레임 attack_cat 전체에 대해 공백 제거
df['attack_cat'].str.strip()

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
699995    NaN
699996    NaN
699997    NaN
699998    NaN
699999    NaN
Name: attack_cat, Length: 700000, dtype: object

In [5]:
#attack_cat 확인
exploits = df['attack_cat'] == 'Exploits'
exploits = df[exploits]
rec = df['attack_cat'] == 'Reconnaissance'
rec = df[rec]
shell = df['attack_cat'] == 'Shellcode'
shell = df[shell]
anal = df['attack_cat'] == 'Analysis'
anal = df[anal]
exploits = df['attack_cat'] == 'Exploits'
exploits = df[exploits]
generic = df['attack_cat'] == 'Generic'
generic = df[generic]
recon = df['attack_cat'] == 'Reconnaissance '
recon = df[recon]
worm = df['attack_cat'] == 'Worms'
wo = df[worm]
nan = df['attack_cat'] == 'NaN'
nan = df[nan]
fuz = df['attack_cat'] == 'Fuzzers '
fuz = df[fuz]
dos = df['attack_cat'] == 'DoS'
dos = df[dos]
back = df['attack_cat'] == 'Backdoors'
back = df[back]

In [6]:
nan

Empty DataFrame
Columns: [srcip, sport, dstip, dsport, proto, state, dur, sbytes, dbytes, sttl, dttl, sloss, dloss, service, Sload, Dload, Spkts, Dpkts, swin, dwin, stcpb, dtcpb, smeansz, dmeansz, trans_depth, res_bdy_len, Sjit, Djit, Stime, Ltime, Sintpkt, Dintpkt, tcprtt, synack, ackdat, is_sm_ips_ports, ct_state_ttl, ct_flw_http_mthd, is_ftp_login, ct_ftp_cmd, ct_srv_src, ct_srv_dst, ct_dst_ltm, ct_src_ltm, ct_src_dport_ltm, ct_dst_sport_ltm, ct_dst_src_ltm, attack_cat, Label]
Index: []

[0 rows x 49 columns]

In [7]:
event = df.iloc[:,[47]] #특정부분 추출

In [8]:
event0=event.drop_duplicates()

In [9]:
print(event0)

           attack_cat
0                 NaN
19           Exploits
21     Reconnaissance
56                DoS
57            Generic
2007        Shellcode
4989          Fuzzers
7278            Worms
17603       Backdoors
80022        Analysis

In [ ]:
print()

In [7]:
event = df.iloc[:,[48]] #특정부분 추출(attack_cat)

In [8]:
event # 0정상 1공격

        Label
0           0
1           0
2           0
3           0
4           0
...       ...
699995      0
699996      0
699997      0
699998      0
699999      0

[700000 rows x 1 columns]

In [9]:
event0=event.drop_duplicates() #중복값제거

In [10]:
print(event0)

    Label
0       0
19      1

In [11]:
print(df['sbytes'])

0           528
1           146
2           132
3           146
4           568
          ...
699995      320
699996    19410
699997     2158
699998      568
699999     4238
Name: sbytes, Length: 700000, dtype: int64

In [12]:
print(df['Label'])

0         0
1         0
2         0
3         0
4         0
         ..
699995    0
699996    0
699997    0
699998    0
699999    0
Name: Label, Length: 700000, dtype: int64

In [13]:
df[(df['attack_cat']!='DoS') & (df['Label']== 0 )]

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,NaN,0
699996,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,NaN,0
699997,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,NaN,0
699998,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,NaN,0
699999,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0

In [17]:
df[(df['attack_cat']=='Shellcode') & (df['Label']== 1 )]

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
2007,175.45.176.0,44900,149.171.126.10,36668,tcp,FIN,0.240026,724,268,254,...,0,1,1,1,1,1,1,1,Shellcode,1
2008,175.45.176.1,18257,149.171.126.10,35019,udp,INT,0.000004,376,0,254,...,0,1,1,1,1,1,1,1,Shellcode,1
2298,175.45.176.3,42061,149.171.126.18,59324,tcp,FIN,0.389653,732,354,254,...,0,1,1,1,1,1,1,1,Shellcode,1
2541,175.45.176.3,3910,149.171.126.10,19757,tcp,FIN,0.189041,724,268,254,...,0,1,1,1,1,1,1,1,Shellcode,1
3231,175.45.176.0,50162,149.171.126.13,21375,tcp,FIN,0.190013,720,268,254,...,0,1,1,1,1,1,1,1,Shellcode,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180670,175.45.176.3,56938,149.171.126.19,53209,udp,INT,0.000001,280,0,254,...,0,2,1,1,1,1,1,1,Shellcode,1
180847,175.45.176.1,51752,149.171.126.19,45744,udp,INT,0.000011,392,0,254,...,0,5,1,1,2,1,1,1,Shellcode,1
180985,175.45.176.3,40203,149.171.126.18,16072,udp,INT,0.000008,114,0,254,...,0,2,3,1,1,1,1,1,Shellcode,1
183264,175.45.176.1,14634,149.171.126.16,61534,tcp,FIN,0.289408,1128,268,254,...,0,4,3,1,1,1,1,1,Shellcode,1
184501,175.45.176.2,59970,149.171.126.13,60706,udp,INT,0.000008,452,0,254,...,0,2,1,1,1,1,1,1,Shellcode,1

In [20]:
df[(df['attack_cat']=='Fuzzers') & (df['Label']!= 0 )]

Empty DataFrame
Columns: [srcip, sport, dstip, dsport, proto, state, dur, sbytes, dbytes, sttl, dttl, sloss, dloss, service, Sload, Dload, Spkts, Dpkts, swin, dwin, stcpb, dtcpb, smeansz, dmeansz, trans_depth, res_bdy_len, Sjit, Djit, Stime, Ltime, Sintpkt, Dintpkt, tcprtt, synack, ackdat, is_sm_ips_ports, ct_state_ttl, ct_flw_http_mthd, is_ftp_login, ct_ftp_cmd, ct_srv_src, ct_srv_dst, ct_dst_ltm, ct_src_ltm, ct_src_dport_ltm, ct_dst_sport_ltm, ct_dst_src_ltm, attack_cat, Label]
Index: []

[0 rows x 49 columns]

In [ ]:
df[(df['attack_cat']!=['Reconnaissance']) & (df['Label']== 1 )]

In [ ]:
df[(df['attack_cat']!=['Generic']) & (df['Label']== 1 )]

In [ ]:
df[(df['attack_cat']!=['DoS'&'Reconnaissance'&'Generic'&'Worms'&'Backdoors'&'Analysis']) & (df['Label']== 1 )]

In [39]:
df[(df['attack_cat']!=['DoS'&'Reconnaissance'&'Generic'&'Worms'&'Backdoors'&'Analysis']) & (df['Label']== 1 )]

TypeError: unsupported operand type(s) for &: 'str' and 'str'